<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a href="index.html" class="navbar-brand"><span lang="en">UX</span> - Diretivas para Web</a>
    <a href="index.html" class="navbar-brand d-none d-md-block"><span lang="en"> | </span></a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html"><span lang="en">Home</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span lang="en">Backend</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdown07">
                    <a class="dropdown-item" href="MenuJava.html">Java</a>
                    <a class="dropdown-item" href="MenuNodeJS.html"><span lang="en">NodeJs</span></a>
                    <a class="dropdown-item" href="MenuPython.html"><span lang="en">Python</span></a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span lang="en">Frontend</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdown07">
                    <a class="dropdown-item" href="MenuReact.html"><span lang="en">React</span></a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span lang="en">DevOps</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdown07">
                    <a class="dropdown-item" href="MenuDocker.html"><span lang="en">Docker</span></a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span lang="en">Database</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdown07">
                    <a class="dropdown-item" href="MenuMongo.html"><span lang="en">MongoDB</span></a>
                    <a class="dropdown-item" href="MenuPostegre.html"><span lang="en">PostgreSQL</span></a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link " href="#" data-toggle="modal" data-target=".modal-search">
                    <i class="fas fa-search"></i>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    <span class="authenticated d-none">Usuário</span>
                </a>
                <div class="unauthenticated dropdown-menu dropdown-menu-right dropdown-default"
                    aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target=".modal-login">Entrar</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target=".modal-register">Cadastre-se</a>
                </div>

                <div class="authenticated d-none dropdown-menu dropdown-menu-right dropdown-default"
                    aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="?authenticated=false" title="Clique para sair">Sair</a>
                </div>
            </li>
        </ul>
    </div>
</nav>